{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

    <div>
            {% for post in posts %}
                {% if user == post.user_id%}
                                <p>{{ post.title }}<a href="{% url 'account:delete_post' post.id %}">delete</a></p>
            <p>{{ post.description}}</p>
            {% for image in images %}
                {% if image.post_id == post.id %}
            <img src="{{ image.thumbnail.url }}" width="200px" height="200px"/>
                {% endif %}
            {% endfor %}
        {% for video in videos %}
                {% if video.post_id == post.id %}
        <p>{{ video.file }}</p>
                {% endif %}
            {% endfor %}
         {% for voice in voices %}
                {% if voice.post_id == post.id %}
        <p>{{ voice.file }}</p>
                {% endif %}
            {% endfor %}
         {% for file in files %}
                {% if file.post_id == post.id %}
        <p>{{ file.file }}</p>
                {% endif %}
            {% endfor %}
                {% endif %}
            {% endfor %}
        <br>
        {% for post in posts %}
        <div id="post{{post.id}}">{{ post }}
            {% if likes.count %}
            {% for like in likes %}
                {% if like.post_id == post.id %}
                    <img width="48" height="48" src="{% static 'account/images/like.png' %}" id="like" data-id="{{post.id}}">
                {% else %}
                    <img width="48" height="48" src="{% static 'account/images/dislike.png' %}" id="like" data-id="{{post.id}}">

            {% endif %}
            {% endfor %}
            {% else %}
            <img width="48" height="48" src="{% static 'account/images/dislike.png' %}" id="like" data-id="{{post.id}}">
            {% endif %}

        {% endfor %}
        </div>
<!--        <video width="320" height="240" controls>-->
<!--            <source src="{{ videos.file.url }}" type="video/mp4">-->
<!--        </video>-->
<!--        <audio width="320" height="240" controls>-->
<!--            <source src="{{ voices.file.url }}" type="voice/mp3">-->
<!--        </audio>-->
    </div>
        <script>
            let like = document.getElementById("like");
            like.addEventListener("click",function(e){
                console.log("clicked")
                let post_id = like.getAttribute("data-id");
                let body = {
                    post_id : post_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
                e.preventDefault();
                $.post("{% url 'account:like_post' %}",body , function(response){
                if (response == "liked"){
                    document.getElementById("like").src = "{% static 'account/images/like.png' %}"
                }else{
                    // alert("dissliked")
                    document.getElementById("like").src = "{% static 'account/images/dislike.png' %}"
                }
});
            })



        </script>
</body>
</html>