{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<form>
    <button type="button" id="send" data-id="{{post.id}}" data-user="{{request.user.user_id}}">Report</button>
</form>
<script>
    let add = document.getElementById("Report");
            add.addEventListener("click",function(e){
                console.log("clicked")
                let post_id = add.getAttribute("data-id");
                let user_id = add.getAttribute("data-user");
                let comment = document.getElementById("comment").value;
                let body = {
                    post_id : post_id,
                    user_id : user_id,
                    description:comment,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
                e.preventDefault();
                $.post("{% url 'account:comment' %}",body , function(response){
                if (response == "success"){
                    alert('comment added')
                }else{
                    // alert("dissliked")
                   alert('error in adding comment')
                }
});
            })

</script>



</body>
</html>